* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B9BD86;
    padding: 20px 60px;
}

.navbar .logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.logo:hover{
    cursor: pointer;
}

.nav-links {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.nav-links li{
    margin-left: 20px;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-links li a:hover{
    color: #00009a;
}

.nav-links li .active{
    color:#95837A;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.login-btn{
    background-color: #95837A;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
}

.login-btn:hover{
    background-color: #896e60;
}

.signup-btn{
    background-color: #95837A;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
}

.signup-btn:hover{
    background-color: #896e60;
}
body {
    background-color: gainsboro;
}

.title-container {
    background-color: #B9BD86;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: inset;
    border: gainsboro;

}

#tagline {
    font-style: italic;
    text-align: center;
    background-color: #B9BD80;
    color: white;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    grid-template-columns: column;
}

.title {
    display: flex;
    font-style: italic;
    justify-content: center;
    background-color: #00003a;
    color: white;
    z-index: 1;
}

.recipe-images {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 flex-wrap: nowrap;
 max-width: fit-content;
 margin: 0 auto;
 padding: 20px 0 0;
 gap: 20px;
 z-index: 1;
}

.recipe-card {
text-align: center;
z-index: 1;
}

.hero-section{
  background: url("./images/HomeMadeRecipesHero.jpg") center/cover no-repeat fixed;
  min-height: 100vh;          
  position: relative;         
  display: grid;
  grid-template-rows: repeat(4, 1fr);             
  place-items: start center;
  padding: 20px;
}
.hero-text{
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 0;
}

.body-heading1{
    text-align: center;
    padding: 10px;
    font-size: 26px;
    color: #00002a;
}


